<ion-header>
  <ion-navbar text-right>
    <ion-title>
      Ionic Color
    </ion-title>
    <ion-icon name="images" (click)="showGallery()"></ion-icon>
  </ion-navbar>
</ion-header>

<ion-content>
{{test2}}
  <div class="center-vertical">
  	<div class="canvas-container">
  		<canvas #photo class=''></canvas>
  	</div>
  	<div class="table-container" *ngIf="showTable">
	    	<ion-range [(ngModel)]="red" (ionChange)="redraw('red')" step="5" min="1" max="100"></ion-range>
	    	<ion-range [(ngModel)]="green" (ionChange)="redraw('green')" step="5"  min="1" max="100"></ion-range>
	    	<ion-range [(ngModel)]="blue" (ionChange)="redraw('blue')" step="5" min="1" max="100"></ion-range>
	    	<ion-range [(ngModel)]="alpha" (ionChange)="redraw('alpha')" step="5" min="1" max="100"></ion-range>
	    	<!-- <ion-range [(ngModel)]="brightness" (ionChange)="updateColor('brightness')" pin="true" min="1" max="100"></ion-range> -->
			<!-- <table>
	    	<tr *ngFor="let row of rows"><td></td></tr>
	    </table>

	    <table>
	    	<tr>
	    		<th></th>
	    		<th><button>cr</button></th>
	    		<th>cb</th>
	    		<th>cg</th>
	    		<th>ca</th>
	    		<th>i</th>
	    	</tr>
	    	<tr>
	    		<th>Red</th>
	    		<td></td>
	    		<td></td>
	    		<td></td>
	    		<td></td>
	    		<td></td>
	    	</tr>

	    	<tr>
	    		<th>Green</th>
	    		<td></td>
	    		<td></td>
	    		<td></td>
	    		<td></td>
	    		<td></td>
	    	</tr>

	    	<tr>
	    		<th>Blue</th>
	    		<td></td>
	    		<td></td>
	    		<td></td>
	    		<td></td>
	    		<td></td>
	    	</tr>

	    	<tr>
	    		<th>Alpha</th>
	    		<td></td>
	    		<td></td>
	    		<td></td>
	    		<td></td>
	    		<td></td>
	    	</tr>
	    </table> -->
	  </div>
  </div>
</ion-content>
