ion-navbar {
	&.toolbar {
		padding: 0px 10px;	
	}

	ion-icon {
		font-size: 30px;
	}
}

.table-container {
	background-color: #FFF;
	border: #292929 1px solid;
	margin: 0px 10px;
	padding: 10px;

	table, td, th	{		
		margin: 0 auto;
	}

	td, th {
		width: 15%;
		padding: 5px
	}

	td {
		border: #000000 1px solid;
	}

	th {
		border: none;
		padding: 5px
	}
}
.canvas-container {
		border: #292929 1px solid;
		padding: 10px 10px 10px 10px;
		margin: 10px 10px 15px 10px;
		background-color: #FFF;
		canvas {
			margin: 0  auto;
			display: block;
		}
}
